* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.c-loader {
  animation: is-rotating 0.5s infinite;

  width: 5rem;
  height: 5rem;
  border: 0.6rem solid #e5e5e5;
  border-top-color: #000;
  border-radius: 50%;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}
